doctype html
html(lang="en")
  head
    title mi priemra pagina
    meta(charset="utf-8")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/animate.css")
    link(href="https://fonts.googleapis.com/css?family=Lato|Pacifico" rel="stylesheet")

  body
    div(class="col-md-4 center-block quitar-float text-center espacio-arriba")
      img(src="img/snoopymini.png" class="animated bounceIn")
      h1(class="pacifico lila animated bounceIn retraso-1") SARAS
      div(class="animated bounceIn retraso-2")
        h2(class="lema") ven y vistete
        nav(class="text-center")
          a(href="#" class="espacio-derecha mediano pacifico verde") Home
          a(href="/admin2" class="espacio-derecha mediano pacifico verde") Administración             

   